*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    
}

a{
    font-weight: 300;
    text-decoration: none;
    transition: all 0.5s ease-in;
}

a:hover{
    text-decoration: none;
    transform: translateY(-5px);
}



.navbar-brand{
    font-size: 20px;
    color: black;
}

.navbar-brand:hover{
    color: black;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: black;
}

.btn-outline-success{
    border: none;
    background-color: red;
    padding: 12px 14px;
}

